// ---------------------------------------------------------------------------------------------------------------------
// Pre-Define Variables
$iconfont-create-font-face: false !default;
$iconfont-create-icon-class: false !default;

$stylesheet-context: 'screen' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-kist-values--use-css: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@include stylesheet-context($stylesheet-context-screen) {
	@if($ce-kist-values--use-css) {
		.ce-kist-values__modal-container {
			& {
				@include modal--container;
			}

			.modal--backdrop {
				@include modal--backdrop;
				padding: 0.1px rem(30px);
				background: rgba(#fff, 0.95);
			}

			.modal--close {
				& {
					@include modal--close;
					top: rem(30px);
					right: rem(30px);
					width: rem(65px);
					height: rem(65px);
				}

				svg {
					width: rem(26px);
					height: rem(26px);
				}
			}

			.modal {
				& {
					display: none;
					@include modal;
					padding: rem(25px 10px);
					background: #fff;
					border-radius: $border-radius-default;
				}

				&[aria-hidden='false'] {
					display: block;
				}
			}

			.is--modal-open & {
				& {
					width: 100%;
					height: 100vh;
				}

				.modal--backdrop {
					opacity: 1;
				}
			}

			.is--modal-closing & {
				& {
					width: 100%;
					height: 100vh;
				}

				.modal--backdrop {
					transition-duration: 0.75s;
					opacity: 0;
				}
			}

			[data-color-scheme='green-white'] {
				background: green;
				color: #fff;
			}
		}

		// -------------------------------------------------------------------------------------------------------------------
		// >= 576px
		@include media-breakpoint-up(sm) {
		}

		// -------------------------------------------------------------------------------------------------------------------
		// >= 992px
		@include media-breakpoint-up(lg) {
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Print
@include stylesheet-context($stylesheet-context-print) {
}

// ---------------------------------------------------------------------------------------------------------------------
// PDF
@include stylesheet-context($stylesheet-context-pdf) {
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/kist-values';